<a href="/">Home</a>
<h2>Shelters<h2>

<ul>
  <li><a href="/shelters/new">Become a Participating Animal Shelter</a></li>
<ul>

<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
    <% end %>
