<%if @apps == [] %>
<p> There are no applications for this pet yet! </p>
<% else %>
<table class ="Show">
  <tr>
    <td class ="TableTitle">Applicants</td>
  </tr>
<% @apps.each do |app| %>
  <tr>
    <td class="TableContent"><a href="/apps/<%=app.id%>" id="<%= app.user.name %>"><%= app.user.name %></a></td>
  </tr>
    <% end %>
  </table>
<% end %>
