<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<p><a href="/">Home</a>
  <a href="/pets">Pets</a>
  <a href="/shelters">Shelters</a><br></p>
<h2>Adopt, Don't shop!</h2>

<ul>
  <li><a href="/shelters">Participating Animal Shelters</a></li>
  <li><a href="/pets">Available Pets</a></li>
</ul>


<p>
  The time is now: <%= Time.now.strftime("%y-%m-%d %H:%M:%S") %>
</p>
