/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .Center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 300px;
 }

 header ul {
   list-style-type: none;
   padding: 0;
   overflow: hidden;
   background-color: #333333;
 }

 header ul li { float:left}
 li a.navbar {
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   text-decoration: none;

 }
 header li a:hover {
   background-color: #111111;
 }
 body {
   background-color: rgb(255,255,255);
 }

 h2 {
   font-weight: bold;
   color: #58595b;
   line-height: 1.1;
 }
 table.Results {
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
 }
 table.Show{
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }
 table.Show tr td {
   word-wrap: break-word;
   text-align: center;
   font-family: verdana;
   font-size: 10pt;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   border: 1px solid #ddd;
   padding: 8px;
 }
 table tr td.TableTitle {
   background-color: #CCCCCC;
   color: #000000;
   font-weight: bold;
   border-width: 1px;
   border-style: none;
   text-align: center;
 }
 table tr td.TableContent {
   word-wrap: break-word;
   font-family: verdana;
   font-size: 10pt;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   border: 1px solid #ddd;
   padding: 8px;
 }

 input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #823b3b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
label{
  font-weight:bold;
  float: left;
  clear: left;
  width: 85px;
  margin-top: 18px;
  text-align: CENTER;
  }

input[type=submit]:hover {
  background-color: #a74f4f;
}
textarea {
  margin-top: 18px;
  height:100px;
  width:325px;
}
p {
  font-weight: bold;
  font-size: 20px;
}
a.button {
  background-color: #823b3b;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.button:hover {
  background-color: #a74f4f;
}
