<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/", class ="navbar">Home</a></li>
          <li><a href="/pets", class ="navbar">All Pets</a></li>
          <li><a href="/shelters", class ="navbar">Shelters</a></li>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
